@import "../../styles/variables";

footer {
  background-color: #1d1d1e;
  color: #fff;
  padding-block: 3.9rem 2.3rem;
  .footer-inner {
    display: grid;
    gap: 3rem;
    justify-content: center;
    @media screen and (min-width: $mobile) {
      justify-content: initial;
      @media screen and (min-width: $md) {
        grid-template-columns: 1.3fr 3fr;
      }
    }
    .comp-info {
      display: grid;
      gap: 3.5rem;

      .socials {
        display: grid;
        gap: 2rem;
        justify-content: center;
        .icons {
          display: grid;
          width: 60%;
          margin-inline: auto;
          gap: 1rem;
          align-items: center;
          grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and (min-width: $mobile) {
          justify-content: left;
          .icons {
            margin-inline: 0;
          }
        }
      }
    }
    .lists {
      width: fit-content;
      margin-inline: auto;
      text-align: center;
      display: grid;
      gap: 2rem;
      @media screen and (min-width: $mobile) {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
        width: auto;
        margin-inline: 0;
      }
      .list-heading {
        font-weight: 700;
        font-size: 1.125rem;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          a {
            font-weight: 300;
            font-size: 0.875rem;
            line-height: 30px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
